:root
{
   --background-main:#000000;
   --text-main:#ffffff;
}

html
{
   font-family: "Lato", sans-serif;
   margin: 0;
   padding: 0;
}

body
{
   background-color: #000000;
   color: var(--text-main);
}

.header
{
  position: absolute;
  width: 99%;
  text-align: center;
}

.headerImage
{
  position: relative;
  width: 110px;
  height: auto;
}

.loginForm
{
  background-color: #333333;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 160px;
  top: 23vh;
  text-align: center;
}

.loginForm input[type=text]
{
  font-size: 15px;
  width: 350px;
}
.loginForm input[type=file]
{
  text-align: center;
}
.loginForm input[type=submit]
{
  background-color: #00B242;
  border-color: #00B242;
  color: white;
  width: 100px;
  bottom: 0;
}
