@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root
{
   --background-main: #000000;
   --text-main:#ffffff;
   --text-secondary:#000000;
   --nasa-blue:#39719E;
}

html
{
   font-family: "Lato", sans-serif;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

body
{
   background-color: var(--background-main);
   color: var(--text-main);
}

div
{
  scrollbar-width: none;
}
::-webkit-scrollbar div
{
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

input,
select,
textarea
{
  background: #504f52;
  height: 40px;
  padding: 0px 10px 0px 10px;
  margin: auto;
  margin-top: -5px;
}

hr {
    display: block;
    width: 95%;
    height: 1px;
    border: 0;
}

a
{
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}

.primary-navigation
{
  background-image: url('../resources/header/background.png');
  overflow: hidden;
  background-position: center;

  position: relative;
  display: block;
  top: 10px;
  width: 1450px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.header-logo
{
  position: absolute;
  margin: 20px;
  width: 110px;
  height: auto;
  z-index: 99;
}

.main-menu
{
  position: relative;
  left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu button
{
  height: 70px;
  background-color: black;
  border: none;

  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  color: var(--text-main);
  padding: 10px 10px;
  cursor: pointer;
  float: left;
  font-size: 1.2em;
}
.main-menu button:hover
{
  background-color: #0b3d91;
  border-right: 1px solid #0b3d91;
  border-left: 1px solid #0b3d91;
}

.sub-menu
{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-menu button
{
  background-color: #555555;
  border: 1px solid #555555;
  border-right: 1px solid #7e7e7e;
  border-left: 1px solid #7e7e7e;
  color: var(--text-main);
  padding: 10px 10px;
  cursor: pointer;
  float: left;
  font-size: 0.9em;
}
.sub-menu button:hover
{
  background-color: #7b7a7e;
  border-right: 1px solid #7b7a7e;
  border-left: 1px solid #7b7a7e;
}


.search-bar
{
  position: relative;
  left: 50px;
  float: right;
}
.search-bar input[type=text]
{
  width: 150px;
  border: none;

  font-size: 17px;
  color: var(--text-main);
  background-color: #333333;

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}
.search-bar-button
{
  position: absolute;
  top: 5px;
  right: 20px;
  width: 20px;
  height: auto;

  color: var(--text-main);
  font-size: 20px;

  z-index: 1;
}

.news-flow
{
  position: relative;
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#row1
{
  background-image: url('../resources/row1/1.jpg');
  overflow: hidden;
  background-position: center;
  height: 400px;
}
#row2, #row3
{
  height: 400px;
}

#row1-title
{
  position: absolute;
  bottom: 17%;
  height: 14%;
  padding: 0px 5px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: var(--nasa-blue);
  color: var(--text-main);
  font-size: 20px;
  opacity: 0.8;
  z-index: 2;
}
#row1-title:hover
{
  opacity: 1;
}

#row1-content
{
  position: absolute;
  bottom: 5%;
  height: 12%;
  padding: 0px 5px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: white;
  color: black;
  font-size: 15px;
  opacity: 0.8;
  z-index: 2;
}
#row1-content:hover
{
  opacity: 1;
}

.row2-info1
{
  float: left;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 25%;
  background-color: var(--nasa-blue);
}
.row2-info1:hover
{
  overflow-y: scroll;
}
.row2-info1 p
{
  color: var(--text-main);
  font-size: 15px;
  margin: 20px;
}
.row2-info1 hr
{
  border-top: 2px solid white;
  position: relative;
}

.row2-image2
{
  background-image: url('../resources/astronaut.jpg');
  overflow: hidden;
  background-position: center;
  float: left;
  height: 100%;
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
}
#row2-image2-title
{
  position: absolute;
  bottom: 10%;
  padding: 0px 5px;

  background-color: var(--nasa-blue);
  color: var(--text-main);
  font-size: 15px;
  opacity: 0.8;
  z-index: 2;
}
#row2-image2-title:hover
{
  opacity: 1;
}
#row2-image2-content
{
  position: absolute;
  bottom: 0;
  width: 24.3%;
  height: 10%;
  padding: 0px 5px;

  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  color: var(--text-secondary);
  font-size: 13px;
  opacity: 0.8;
  z-index: 2;
  transition: 0.3s;
}
#row2-image2-content:hover
{
  height: 100%;
  white-space: normal;
  overflow-y: scroll;
  opacity: 1;
  font-size: 15px;
}
#row2-image2-content:hover p
{
  margin: 20px;
}

.row2-info2
{
  float: right;
  position: relative;
  height: 100%;
  width: 24%;
  overflow: hidden;
  background-color: white;
}
.row2-info2:hover
{
  overflow-y: scroll;
}
#row2-info2-title
{
  color: var(--nasa-blue);
  font-size: 25px;
  margin: 20px;
}
#row2-info2-content
{
  color: var(--text-secondary);
  font-size: 15px;
  margin: 20px;
}
.triangle-left {
  position: absolute;
  left: 73.3%;
  top: 40%;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 40px solid white;
	border-bottom: 30px solid transparent;
  z-index: 3;
}

.row2-image3
{
  background-image: url('../resources/uploads/testest.png');
  overflow: hidden;
  background-position: center;
  float: left;
  height: 100%;
  width: 25%;

}

.row3-video1
{
  position: relative;
  height: 100%;
  width: 25%;
}
#video1
{
  position: absolute;
  bottom: 400px;
  left: 1100px;
  height: 400px;
  width: 350px;
  z-index: 3;
}

.row3-image2
{
  background-image: url('../resources/rocket.jpg');
  overflow: hidden;
  background-position: center;
  height: 100%;
  width: 75.7%;
}
#row3-image2-title
{
  position: absolute;
  bottom: 10%;
  padding: 0px 5px;

  background-color: var(--nasa-blue);
  color: var(--text-main);
  font-size: 15px;
  opacity: 0.8;
  z-index: 2;
}
#row3-image2-title:hover
{
  opacity: 1;
}
#row3-image2-content
{
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 10%;
  padding: 0px 5px;

  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  color: var(--text-secondary);
  font-size: 12px;
  opacity: 0.8;
  z-index: 2;
}
#row3-image2-content:hover
{
  opacity: 1;
}
